### Laporan Keuangan Konsolidasian

In [4]:
import pandas as pd

file_path = "LK_konsol_2019_2024.csv"

# Baca CSV dengan delimiter titik koma dan hilangkan spasi berlebih
df = pd.read_csv(file_path, sep=';', engine='python')
df.columns = df.columns.str.strip()  # bersihkan spasi di nama kolom

# Tampilkan ringkasan
print("Jumlah baris dan kolom:", df.shape)
print("\nKolom yang tersedia:", df.columns.tolist())

# Tampilkan 10 baris pertama
pd.set_option('display.float_format', '{:,.0f}'.format)
print("\nCuplikan data:")
print(df.head(10))

Jumlah baris dan kolom: (14, 7)

Kolom yang tersedia: ['Unnamed: 0', '2024', '2023', '2022', '2021', '2020', '2019']

Cuplikan data:
           Unnamed: 0                   2024                   2023  \
0  Aset Non Investasi    41.280.026.993.914     40.439.235.781.192
1      Aset Investasi   356.297.037.280.697    336.546.736.507.695
2            Deposito    72.548.141.446.060     46.030.507.000.000
3               Saham    12.661.883.183.200     15.064.505.449.137
4          Reksa Dana    22.158.998.452.824     27.004.209.841.471
5            Obligasi   185.976.378.709.331    183.979.814.824.707
6               Sukuk    52.398.427.105.755     52.538.398.423.536
7                 MTN     3.472.688.997.995      5.310.965.008.500
8                SRBI        23.335.250.000                    -
9             KIK-EBA       577.649.528.905        723.742.454.783

                    2022                   2021                   2020  \
0    35.718.351.917.994     13.522.964.169.302     12.455.900.825.554
1   309.951.287.818.183    293.208.531.304.979    274.939.160.444.203
2    40.780.679.800.000     49.546.458.603.831     46.648.836.097.085
3    12.006.222.958.876     14.859.793.049.448     17.143.598.200.417
4    21.605.792.322.926     24.187.556.532.348     21.218.020.335.042
5   172.433.861.713.558    147.732.069.122.065    149.870.000.245.760
6    51.022.610.798.607     45.348.632.870.739     29.454.474.644.278
7     5.518.648.011.500      4.656.934.217.108      3.586.266.463.500
8                   -                      -                      -
9     1.250.337.846.613      1.474.905.825.775      2.130.136.668.451

                    2019
0     9.931.936.771.794
1   253.321.566.937.984
2    47.144.501.993.254
3    12.324.558.260.717
4    18.510.185.165.150
5   134.015.805.806.133
6    29.401.817.994.659
7     4.080.000.000.000
8                   -
9     2.766.782.581.116

### Laporan Laba Rugi

In [5]:
import pandas as pd

file_path = "LLR_2019_2024.csv"

# Baca CSV dengan delimiter titik koma dan hilangkan spasi berlebih
df = pd.read_csv(file_path, sep=';', engine='python')
df.columns = df.columns.str.strip()  # bersihkan spasi di nama kolom

# Tampilkan ringkasan
print("Jumlah baris dan kolom:", df.shape)
print("\nKolom yang tersedia:", df.columns.tolist())

# Tampilkan 10 baris pertama
pd.set_option('display.float_format', '{:,.0f}'.format)
print("\nCuplikan data:")
print(df.head(10))

Jumlah baris dan kolom: (13, 7)

Kolom yang tersedia: ['Unnamed: 0', '2024', '2023', '2022', '2021', '2020', '2019']

Cuplikan data:
                         Unnamed: 0                  2024  \
0          Pendapatan Non Investasi   10.411.749.661.628
1              Pendapatan Investasi    9.011.566.535.853
2                  Total Pendapatan   19.423.316.197.481
3     Jumlah beban klaim dan mafaat    16.333.036.580.042
4                  Beban investasi         10.210.737.093
5               Beban non investasi    1.800.911.448.894
6  Jumlah beban usaha entitas induk    1.811.122.185.987
7          Beban usaha entitas anak       288.538.141.918
8                Jumlah beban usaha    2.099.660.327.905
9           Penggantian BOP Pensiun      -662.738.398.520

                   2023                  2022                  2021  \
0   13.644.235.295.100    32.228.013.336.969    10.657.824.909.555
1    8.487.018.199.018     9.027.881.205.692     9.776.555.299.210
2   22.131.253.494.118    41.255.894.542.661    20.434.380.208.765
3    19.513.835.115.475   39.871.451.251.439    18.823.948.652.955
4         8.297.019.837        9.244.011.924        14.780.628.011
5    1.848.101.445.335     1.336.987.166.447     1.397.932.217.509
6    1.856.398.465.172     1.346.231.178.371     1.412.712.845.520
7      273.332.523.179       256.316.059.679       365.907.073.327
8    2.129.730.988.351     1.602.547.238.050     1.778.619.918.847
9      -663.225.545.088      -613.598.918.605      -682.357.077.280

                   2020                  2019
0    9.767.986.602.823    10.187.746.344.771
1    9.830.261.291.239     9.114.596.578.354
2   19.598.247.894.062    19.302.342.923.125
3   17.607.663.271.726    17.715.907.447.323
4       25.880.383.944        16.558.453.338
5    1.465.477.177.177     1.436.122.091.746
6    1.491.357.561.121     1.452.680.545.084
7      214.429.357.697       245.226.187.865
8    1.705.786.918.818     1.697.906.732.949
9      -656.428.980.404      -717.538.351.455

### Laporan Arus Kas

In [6]:
import pandas as pd

file_path = "LAK_2019_2024.csv"

# Baca CSV dengan delimiter titik koma dan hilangkan spasi berlebih
df = pd.read_csv(file_path, sep=';', engine='python')
df.columns = df.columns.str.strip()  # bersihkan spasi di nama kolom

# Tampilkan ringkasan
print("Jumlah baris dan kolom:", df.shape)
print("\nKolom yang tersedia:", df.columns.tolist())

# Tampilkan 10 baris pertama
pd.set_option('display.float_format', '{:,.0f}'.format)
print("\nCuplikan data:")
print(df.head(10))

Jumlah baris dan kolom: (6, 7)

Kolom yang tersedia: ['Unnamed: 0', '2024', '2023', '2022', '2021', '2020', '2019']

Cuplikan data:
                                       Unnamed: 0                  2024  \
0          Arus Kas Bersih dari Kegiatan Operasi    18.537.196.660.808
1        Arus Kas Bersih dari Kegiatan Investasi    -18.536.413.896.270
2         Arus Kas Bersih dari Kegiatan Pendanaan          534.118.523
3  Kenaikan (Penurunan) Bersih Kas dan Setara Kas        1.316.883.061
4            Kas dan Setara Kas pada Awal Periode       32.516.548.394
5           Kas dan Setara Kas pada Akhir Periode       33.833.431.455

                   2023                  2022                  2021  \
0   14.911.028.297.326    13.264.371.674.898    14.263.407.677.434
1   -15.134.676.775.331   -13.848.919.922.316   -13.482.495.960.861
2        3.347.623.351         -3.785.432.589       32.238.215.858
3     (220.300.854.654)     (588.333.680.007)      813.149.932.431
4      252.817.403.048       841.151.083.055        28.001.150.624
5       32.516.548.394       252.817.403.048       841.151.083.055

                  2020                  2019
0   5.637.485.325.455    21.327.783.779.851
1  -13.482.495.960.861   -13.482.495.960.861
2       -7.138.307.196                  -
3       -3.846.512.882       -40.667.356.056
4      31.847.663.506        72.515.019.562
5      28.001.150.624        31.847.663.506